name: Build & Deploy
on: 
  push:
    branches: 
      - main

permissions:
  contents: read
  packages: write

jobs:

  build:
    runs-on: ubuntu-24.04
    steps:
      
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with: 
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Publish
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository }}:latest


  publish:
    runs-on: ubuntu-24.04
    needs: build
    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: EC2 Deploy
        run: echo "Testing"