---
name: Build and Publish

on:
  push:
    branches:
      - main

env:
  DOCKER_REGISTRY: ghcr.io/rickbarretto/devops-days-workshop-2025

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Github Registrey
        if: success()
        uses: docker/login-action@v1
        with:
          registry: ${{ env.DOCKER_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        run: docker build -t ${{ env.DOCKER_REGISTRY }}:latest .

      - name: Publish image
        run: docker push ${{ env.DOCKER_REGISTRY }}:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: EC2 Deployment
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
          script: |-
            echo "${{ secrets.ENV }}" | base64 --decode > /tmp/.env
            app_port="$(cat /tmp/.env | grep -E '^PORT=[0-9]+$' | cut -d '=' -f 2)"
            docker container stop ${{ env.APP_NAME}} || true
            docker container rm ${{ env.APP_NAME}} || true
            docker login ${{ env.REGISTRY }} -u ${{ github.actor }} -p ${{ secrets.GITHUB_TOKEN }}
            docker pull ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
            docker run -d --restart=unless-stopped -p "${app_port}:${app_port}" --env-file /tmp/.env --name ${{ env.APP_NAME}} ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
            rm /tmp/.env