name: Build & Deploy
on: 
  push:
    branches: 
      - main

jobs:

  build:
    runs-on: ubuntu-24.04
    steps:
      
      - name: Checkout
        uses: actions/checkout@v6

      - name: Docker login
        uses: docker/login-action@v1
        with: 
          registry: ${{ github.repository_name }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Publish
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ github.repository_name }}:latest


  publish:
    runs-on: ubuntu-24.04
    needs: build
    steps:

      - name: Checkout
        uses: actions/checkout@v6

      - name: EC2 Deploy
        run: echo "Testing"